@import "_mixins";

template {
  // IE support for HTML5 <template> tag
  display: none;
}

.masthead-title small {
  font-size: .78rem;
}

#page-contact,
#page-thanks,
.introduction {
  min-height: 40px;
  margin-bottom: 40px;

  @include mq(tabletp) {
    min-height: 50px;
    margin-bottom: 50px;
  }

  @include mq(tabletl) {
    min-height: 60px;
    margin-bottom: 60px;
  }

  @include mq(laptop) {
    min-height: 70px;
    margin-bottom: 70px;
  }
}

.introduction {
  h1.accent {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

#page-contact .container,
#page-thanks .container,
.introduction .container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.post {
  margin-top: 30px;

  @include mq(tabletp) {
    margin-top: 35px;
  }

  @include mq(tabletl) {
    margin-top: 40px;
  }

  @include mq(laptop) {
    margin-top: 45px;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.post p.post-content {
  margin-bottom: 0.25rem;
}

p.pre-blurb {
  white-space: pre-line;
}

#TableOfContents ul ul,
#TableOfContents ul ul ul,
#TableOfContents ul ul ul ul,
#TableOfContents ul ul ul ul ul,
#TableOfContents ul ul ul ul ul ul,
#TableOfContents ul ul ul ul ul ul ul {
  margin-bottom: 0;
}

nav.pagination {
  justify-content: center;
}

ul.pager {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    padding: 10px;
    margin: 5px;
  }
}

.divider {
  position: relative;
  margin: 2.5rem 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.d-flex {
  display: flex;
}

.footnotes  {
  hr {
    margin: 0;
    border: 0;
  }

  blockquote + a.footnote-backref {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

.tags-wrapper {
  position: relative;
}

.post-tags {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 24px;
  bottom: -12px;
  list-style: none;
  text-indent: unset;

  li, a {
    font-family: $heading-font;
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: .75em;
  }

  a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: $link-color;
    color: #fff;
    text-decoration: none;

    @include border-radius(0 4px 4px 0);

    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      border-color: transparent $link-color transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      background: #fff;

      @include border-radius(2px);
      @include box-shadow(-1px -1px 2px $text-color);
    }

    &:hover {
      background: $text-light-color;
    }

    &:hover:before {
      border-color: transparent $text-light-color transparent transparent;
    }
  }
}

a.external {
  &:after {
    background-color: #ac4142;
    content: "";
    display: inline-flex;
    height: 0.5em;
    width: 0.5em;
    margin-left: 0.2ch;

    @include mask-size(cover);
    @include mask-image(url("/img/external-link.svg"));
  };
}

ul.tags-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  padding: 2rem 0 1rem;
  list-style: none;
  border: 2px solid white;
  border-radius: 5px;

  .tag {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
  }

  .tag-link {
    padding: 5px 5px 0;
    @include transition(0.3s);
  }
}

#top-of-site-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

@media (max-width: 800px){
  #top-of-site-anchor {
    top: 46px;
  }
}

.top-of-site-link {
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 99;

  @include transition(.2s);

  &:hover {
    text-decoration: none;
  }

  svg {
    @include filter(drop-shadow(0 2px 5px rgba(0, 0, 0, .3)));
  }
}

.top-of-site-link[data-visible=true] {
  opacity: 1;
  visibility: visible;
}

.screen-reader-text {
  @include visually-hidden();
}

.hypothesis-container {
  cursor: pointer;
}
