/* Form elements */

@import "_mixins";

.form-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1.25em;
  color: #000;
  background-color: #fff;
  width: 100%;
  padding: 0.5em;

  @include transition(all 0.2s ease-in-out);

  @include mq(tabletp) {
    font-size: 1.15em;
  }

  @include mq(laptop) {
    font-size: 1.1em;
  }

  &:focus {
    @include box-shadow(none);
    outline: none;
    border-color: #5e5e5e;
  }
}

#site-contact {
  width: 100%;
  padding-bottom: 20px;

  @include mq(tabletp) {
    padding-bottom: 40px;
  }

  @include mq(laptop) {
    padding-bottom: 50px;
  }

  @include mq(desktop) {
    padding-bottom: 60px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.form-item {
  margin-top: 15px;

  @include mq(tabletp) {
    margin-top: 20px;
  }

  @include mq(laptop) {
    margin-top: 30px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.form-item-error {
  .form-input,
  .form-textarea {
    @include box-shadow(0 0 2px 1px #D64541!important);
  }
}

.form-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #676767;

  @include mq(tabletp) {
    font-size: 18px;
  }

  @include mq(laptop) {
    font-size: 20px;
  }
}

@include input-placeholder($text-color, 10%);

.contact-form-textarea {
  font-size: 1.1em;
  min-height: 200px;
  resize: none;

  @include mq(tabletp) {
    font-size: 1.05em;
  }

  @include mq(laptop) {
    font-size: 1em;
  }
}

.hide-element {
  display: none;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  // Make a horizontal gutter on small screen between interactive elements.
  @media(max-width:56em) {
    margin-bottom: 1.5rem;
  }
}

.search-submit {
  border: 1px solid #2c6982;
  border-radius: 3px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  min-width: 6.5ch;
  font-size: 100%;
  background: #2c6982;
  color: #fff;
  &:hover, &:focus {
    cursor: pointer;
    @include interactive-text-deco(true);
    background: scale-color(#2c6982, $lightness: 10%);
  }
}

.form-input[readonly], #search-act[disabled], #search-act[disabled]:hover {
  cursor: wait;
}

.search-hit {
  background-color: rgb(255, 255, 84);
}

.ell {
  word-spacing: 0.15ch;
  padding: 0 0.25ch;
  color: $rubric-color;
}

.search-help-details {
  display: block;
  margin: 0.25rem;
}

.search-fold {
  margin: 0.5rem 0;
}

// Search extended help.
.details-content {
  padding: 0 1.5rem;
}

.search-help-details {
  font-size: 90%;
  @include transition(background-color 0.5s ease-in);
}

.search-help-details[open] {
  background-color: rgba(255, 255, 200, 0.85);
  .search-help-details-summary {
    cursor: pointer;
  }
}

.search-help-details-summary {
  font-size: 100%;
  cursor: help;
}
