<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default site.Language.Lang }}" {{- with partialCached "func/GetLanguageDirection" "GetLanguageDirection" }} dir="{{ . }}" {{- end }} prefix="og: http://ogp.me/ns#" id="top-of-site">
    {{ partial "head.html" . -}}
    <body class="theme-base-{{ site.Params.colorScheme }}">
      <div id="top-of-site-anchor"></div>
      {{- if .Params.toc -}}
        {{ partial "sidebar-toc.html" . }}
      {{- else -}}
        {{ partial "sidebar.html" . }}
      {{- end -}}
      <div class="wrap">
        <header class="masthead">
          <div class="container">
            <div class="masthead-title">
              {{- if .IsHome -}}
              <span class="site-title-text">{{- site.Title -}}</span>
              {{- else -}}
              <a class="site-title-text" href="{{ site.Home.RelPermalink }}" title="{{ i18n "home" }}">{{ site.Title }}</a>
              {{- end -}}
              <p><small>{{ site.Params.tagline }}</small></p>
            </div>
          </div>
        </header>

        <main class="container content" id="main">
          {{- block "main" . }}{{ end }}
        </main>
      </div>

      <label id="sidebar-toggle" for="sidebar-checkbox" aria-owns="sidebar-checkbox" title="{{ i18n "sidebar_toggle_desc"}}" class="sidebar-toggle" tabindex="0"></label>

      <nav aria-label="Shortcut">
        <a href="#top-of-site" class="top-of-site-link" data-visible="false"
          aria-labelledby="go-top-button-title">
          <svg width="32" height="32" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice" role="img">
            <title id="go-top-button-title">{{ i18n "back_to_top_label" }}</title>
            <defs><mask id="svg-bv"><rect fill="#fff" x="0" y="0" width="100" height="100" /><polygon fill="#000" points="20,55 50,25 80,55 80,70 50,40 20,70" /></mask></defs>
            <circle id="svg-bc" r="50" cx="50" cy="50" mask="url(#svg-bv)" />
          </svg>
        </a>
      </nav>
    </body>
</html>
