{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <h1 class="text-title">
            {{ .Params.pageTitle | default .Title }}
        </h1>
        <p class="byline">
            {{ if in (slice "drama" "narrative" "poem") $postType }}
                {{ partial "post-meta/author.html" . }}
		{{ partial "post-meta/translator.html" . }}
            {{ else }}
                {{ partial "post-meta/author.html" . }}
            {{ end }}
        </p>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>

    <footer class="page-footer">
    {{- if eq $postType "site-function-page" | not -}}
    <div class="page-date-slug">{{- partial "post-meta/date.html" . -}}</div>
    {{- end -}}
    {{- if not (in (slice "drama" "narrative" "poem" "site-function-page") $postType) -}}
        {{- partial "post-tags.html" . -}}
    {{- end -}}
    </footer>
</article>
{{ end }}
