{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <h1 class="text-title" id="main-content-heading">
            {{ .Params.pageTitle | default .Title }}
        </h1>
        <div class="byline">
            {{- if in (slice "drama" "narrative" "poem") $postType -}}
                {{- partial "post-meta/author.html" . -}}
                {{- partial "post-meta/translator.html" . -}}
            {{- else -}}
                {{- partial "post-meta/author.html" . -}}
            {{- end -}}
        </div>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>

    {{- if eq $postType "site-function-page" | not }}
    <footer class="page-footer">
      <div class="page-date-slug">{{- partial "post-meta/date.html" . -}}</div>
      {{- if not (in (slice "drama" "narrative" "poem" "site-function-page") $postType) }}
      <div class="tags-container">{{- partial "post-tags.html" . -}}</div>
      {{- end }}
    </footer>
    {{- end }}
</article>
{{ end }}
