{{/* Target for toggling the sidebar `.sidebar-checkbox` is for regular styles,
    `#sidebar-checkbox` for behavior. */}}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" aria-controls="sidebar">
{{- /* Toggleable sidebar */}}
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.Params.Description }}</p>
    </div>
    <nav class="sidebar-nav">
        {{- $current := . -}}
        {{- range site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
        {{- $iscur := eq .URL $current.RelPermalink -}}
            {{- $active = or $active $iscur -}}
            {{- $active = or $active (eq .Name $current.Title) }}
        <a class="sidebar-nav-item{{ if $active }} active{{ end }}"
            href="{{ .URL }}"
            id="menu-main-{{ .Identifier }}"
    {{- if eq .Identifier site.Params.searchMenuId }} rel="search"{{end}}
            {{- if eq .Params.external true }} target="_blank" rel="noopener noreferrer"{{ end }}
            {{- if $iscur }} aria-current="page"{{ end }}>
            {{- print .Name | safeHTML -}}
        </a>
        {{- end }}

        {{- if ne .Params.annotations false }}
        {{ partial "hypothesis.html" . }}
        {{- end }}

        {{- with site.Menus.feeds }}
        <ol class="sidebar-nav-item sidebar-feed-list">
                {{- range site.Menus.feeds -}}
            <li><a href="{{ .URL }}" id="menu-feeds-{{ .Identifier }}" class="menu-feeds-item" data-feed-type="{{ .Identifier }}" type="{{ .Params.mime }}">
                        {{-  print .Name | safeHTML -}}
            </a></li>
                {{- end -}}
        </ol>
        {{- end }}
    </nav>
    {{- partial "footer" . }}
</div>
